<h3>ユーザー情報一覧</h3>
 
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>タイトル</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>スケジュール更新日</th>
          <th>確認</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
      </thead>
 
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.title %></td>
            <td><%= user.start %></td>
            <td><%= user.end %></td>
            <td><%= user.introduction %></td>
            <td><%= user.updated_at %></td>
            <td><%= user.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
 
    <p><%= link_to "ユーザー新規登録", :new_user %></p>